Builds/
Build/
Library/
Logs/
UserSettings/
Temp/
QCAR/
Assets/Resources/VuforiaModels/Vuforia*
Assets/SampleResources/
Assets/StreamingAssets/Vuforia/Vuforia*
Assets/Editor/Vuforia/Cylinder*
Assets/Editor/Vuforia/ImageTarget*
Assets/Editor/Vuforia/Vuforia*
Packages/
.vs/
.vsconfig
obj/
*.csproj
*.sln